{% extends "base.html" %}

{% block content %}
<main>
    <div class="px-4 py-5 my-5 text-center">
      <img class="d-block mx-auto mb-4 rounded-circle" src="{{ url_for('static', filename='images/'+user.profile_image) }}" alt="" width="150" height="150">
      <h1 class="display-6 fw-bold text-body-emphasis">{{user.username}}</h1>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">{{user.about_text}}</p>
      </div>
      {% if user == current_user %}
      <form method="POST" action="{{url_for('users.update_about', user_id=user.id)}}">
        <button type="submit" class="btn btn-secondary btn-lg rounded-0">Edit</button>
      </form>
      {% endif %}
    </div>

    <div class="b-example-divider mb-0"></div>
  </main>
{% endblock %}